body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
    color: #3f51b5;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

form {
    width: 50%;
}

.form-control {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #3f51b5;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #3f51b5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #303f9f;
}

.tabs {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tab-button {
    background-color: #f0f2f5;
    border: none;
    padding: 10px 20px;
    margin-bottom: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left;
    width: 100%;
    font-size: 16px;
}

.tab-button:hover {
    background-color: #e0e0e0;
}

.tab-button.active {
    background-color: #3f51b5;
    color: #fff;
}

.tab-content {
    display: none;
    margin-top: 20px;
}

.tab-content.active {
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

ul li {
    background-color: #f0f2f5;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

ul li button {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

ul li button:hover {
    background-color: #d32f2f;
}

h2 {
    margin: 10px 0;
    color: #3f51b5;
}
